@import url('http://fonts.googleapis.com/css?family=Galindo&subset=latin,latin-ext');
@import "_vars.less";
@import "_keyframes.less";

@colorPurple: #906090;

.size(@size) {
  width: @size;
  height: @size;
  display: inline-block;
}

html, body, div, p, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  box-sizing: border-box;
}

// -----------------------------

html {
  font-size: 1.5vw;
}

body {
  color: @colorPurple;
  font-family: 'Galindo', sans-serif;
  text-align: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hangman-container {
  background: url(dots2.png), url(dots3.png), linear-gradient(to bottom, #2f0068 0%,#26003a 44%,#750073 100%);
  background-repeat: no-repeat;
  background-position: -50% -20%, 100% 100%;
  background-size: 50%, 50%, cover;
  height: 100%;
  width: 100%;
}

.hangman {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
  max-width: 1000px;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  & > div {
    margin: 0.3rem 0.5rem;
  }
}

.screen {
  border: 5px solid #000;
  border-radius: 10px;
  background-color: #67C3FC;
  background-image: url(grass.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.unicorn-container {
  width: 350px;
  height: 262px;
  background: url('unicorn-sprite.png') left center;
  animation: wind .5s steps(3) infinite alternate;
  position: relative;
  z-index: 5;

  .eye {
    width: 25px;
    height: 26px;
    background: url('eye-happy.png') left center;
    background-size: 100%;
    position: absolute;
    top: 80px;
    right: 35px;
  }

  .corn {
    width: 39px;
    height: 75px;
    background: url('corn.png') left center;
    background-size: 100%;
    position: absolute;
    bottom: 187px;
    right: 30px;
  }


  @media screen and (max-width: 360px) {
    width: 230px;
    height: 172px;
    background: url('unicorn-sprite-small.png') left center;
    .eye {
      width: 20px;
      height: 18px;
      top: 52px;
      right: 23px;
    }
    .corn {
      width: 25px;
      height: 45px;
      bottom: 125px;
      right: 21px;
    }
  }
}

// ---------------------- ATTEMPTS ----

.attempts {
  text-align: right;
  margin-right: 1rem;

  &:before {
    content: "";
    .size(70px);
    background-image: url(unicorn-head.png);
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 600px) {
      .size(50px);
    }
  }
}

.life {
  .size(50px);
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  background-image: url("heart.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 600px) {
    .size(35px);
  }
}

.game {
  border: 5px solid #000;
  border-radius: 10px;
  background-color: rgba(256, 256, 256, 0.3);
}

// ---------------------- WORD ----

.game-word {
  display: inline-block;
  margin: 1rem;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem;
  }

  .letter {
    .size(45px);
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    position: relative;

    @media screen and (max-width: 600px) {
      .size(3rem);
      font-size: 3rem;
      line-height: 3rem;
    }

    &:before {
      .size(45px);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url(star.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      opacity: 0;
      animation: starEnter 0.75s ease-out forwards;

      @media screen and (max-width: 600px) {
        .size(4rem);
      }
    }
  }
}

// --------------- hidden CHECKBOXES ----
.letter-checkbox,
.letter-checkbox + span {
  visibility: hidden;
  position: absolute;
}

// ---------------------- KEYBOARD ----
.keyboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.letter-key {
  .size(30px);
  line-height: 30px;
  font-size: 25px;
  border: 5px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  box-shadow: inset 0px -5px 0px 0px @colorPurple;
  margin: 5px;
  padding: 5px;
  text-align: center;

  &:active {
    box-shadow: inset 0px -2px 0px 0px @colorPurple;
    transform: translateY(3px);
  }

  @media screen and (max-width: 600px) {
    .size(20px);
    line-height: 20px;
    font-size: 2.5rem;
    margin: 2px;
  }
}

.new-game {
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  display: inline-block;
  border: 5px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  box-shadow: inset 0px -5px 0px 0px @colorPurple;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;

  &:active {
    box-shadow: inset 0px -2px 0px 0px @colorPurple;
    transform: translateY(3px);
  }

  @media screen and (max-width: 600px) {
    height: 20px;
    line-height: 20px;
    font-size: 2.5rem;
    margin: 2px;
  }
}

// ---------------------- MISSED LETTER----

.letter-missed:checked ~ .screen ~ .attempts .life-1,
.letter-missed:checked ~ .letter-missed:checked ~ .screen ~ .attempts .life-2,
.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen ~ .attempts .life-3,
.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen ~ .attempts .life-4,
.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen ~ .attempts .life-5,
.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen ~ .attempts .life-6 {
  animation: life 2s ease-in forwards;
}

.letter-missed:checked ~ .screen  {
  background-color: #66F9E6;
  transition: background-color 1s ease-out;
  transition-delay: 0.5s;
}

.letter-missed:checked ~ .letter-missed:checked ~ .screen {
  background-color: #66F99A;
  transition: background-color 1s ease-out;
  transition-delay: 0.5s;

  .eye {
    background: url('eye-neutral.png') left center;
    background-size: 100%;
  }
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen {
  background-color: #ABF765;
  transition: background-color 1s ease-out;
  transition-delay: 0.5s;

  .eye {
    background: url('eye-sad.png') left center;
    background-size: 100%;
  }
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen {
  background-color: #F4F765;
  transition: background-color 1s ease-out;
  transition-delay: 0.5s;

  .corn {
    animation: corn 1.2s ease-in forwards;
  }
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen {
  background-color: #F7AB65;
  transition: background-color 1s ease-out;
  transition-delay: 0.5s;

  .tear {
    width: 10px;
    height: 13px;
    position: absolute;
    background: url(tear.png) left center;
    right: 55px;
    top: 100px;

    @media screen and (max-width: 360px) {
      right: 36px;
      top: 66px;
    }
  }
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .screen {
  background-color: #F76565;
  transition: background-color 1s ease-out;
  transition-delay: 0.5s;

  .unicorn-container {
    animation: unicorn 0.8s ease-out forwards;
    transform-origin: 55% 60%;

    .eye {
      background: url('eye-dead.png') left center;
      background-size: 100%;
    }

    .tear {
      opacity: 0;
    }
  }
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .attempts:before {
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 1s;
}


// ---------------------- THE END ----

.letter-checkbox ~ .screen .end-win,
.letter-checkbox ~ .screen .end-fail {
  width: 25rem;
  max-width: 250px;
  font-size: 25px;
  color: #750073;
  display: inline-block;
  text-align: center;
  opacity: 0;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 35px;
  padding: 20px 15px;
  position: absolute;
  right: 0.5rem;
  z-index: 50;

  @media screen and (max-width: 600px) {
    font-size: 15px;
    width: 200px;
  }
  @media screen and (max-width: 350px) {
    width: 150px;
    padding: 5px;
  }
}

.letter-checkbox ~ .screen .end-win {
  @media screen and (max-width: 600px) {
    left: 5px;
    right: auto;
  }
}


.twinkle {
  background: url(twinkling.png);
  position: absolute;
  width: 20px;
  height: 20px;
  animation: twinkle 0.75s steps(1) infinite alternate 0.15s;
  opacity: 0;
  z-index: 4;

  &:before, &:after {
    content:"";
    background: url(twinkling.png);
    position: absolute;
    width: 20px;
    height: 20px;
  }
  &:before {
    top: 5rem;
    left: -2rem;
    animation: twinkle 0.75s steps(1) infinite alternate 0.7s;
  }
  &:after {
    top: 1rem;
    left: 4rem;
    animation: twinkle 0.75s steps(1) infinite alternate 0.45s;
  }
}

.twinkle1 {
  top: 5%;
  right: 90%;
}
.twinkle2 {
  top: 25%;
  right: 80%;
}
.twinkle3 {
  top: 50%;
  right: 65%;
}
.twinkle4 {
  top: 20%;
  right: 50%;
}
.twinkle5 {
  top: 45%;
  right: 40%;
}
.twinkle6 {
  top: 15%;
  right: 25%;
}
.twinkle7 {
  top: 45%;
  right: 10%;
}

.heart {
  .size(60px);
  background-image: url(heart.png);
  background-size: cover;
  position: absolute;
  right: ~"calc(100% - 500px - 0.5rem)";
  top: 50%;
  opacity: 0;
  z-index: 51;

  &:before, &:after {
    content:"";
    background-image: url(heart.png);
    background-size: cover;
    position: absolute;
  }
  &:before {
    .size(30px);
    top: 5rem;
    right: -50%;
  }
  &:after {
    .size(40px);
    top: 2.5rem;
    right: 130%;
  }
}

@media screen and (max-width: 600px) {
  .heart {
    right: 10rem;
    &:before {
      top: 10rem;
      right: -80%;
    }
    &:after {
      top: 8.5rem;
      right: 150%;
    }
  }
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked
~ .game .keyboard .letter-key {
  pointer-events: none;
  opacity: 0.5;
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked
~ .screen .end-fail {
  opacity: 1;
  transition: opacity 0.75s ease-in;
  transition-delay: 1s;
}

.letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked ~ .letter-missed:checked
~ .game .game-word .letter {
  color: rgba(256, 256, 256, 0.2);
  transition: color 0.5s ease-in;
  transition-delay: 0.5s;
  &:before {
    animation: fade 0.5s forwards ease-in;
  }
}
